$font-family: 'Open Sans', sans-serif;
.answer-container{
  .answer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 6.4rem;
    a{
      margin-top: -10%;
    }
    h1{
      color: #005f84;
      font-family: $font-family;
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 2.8rem;
      padding-bottom: 1.3rem;
      padding-top: 6.4rem;
    }
  }
  .answer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 6rem;
    .accordion {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 1.8rem;
      width: 100%;
      border: none;
      border-radius: 1rem;
      background-color: #ebf6f7;
      text-align: left;
      outline: none;
      color: #006085;
      font-family: $font-family;
      font-size: 1.7rem;
      font-weight: 700;
      line-height: 2.8rem;
      margin-bottom: 1rem;
    }
    .active-answer, .accordion:hover,:focus,:active {
      border: none!important;
      outline: none!important;
      background-color: #d7ecf7;
      color: #2387ad!important;

    }
    .active-answer{

      color: #2387ad!important;
    }
  }

  .rotate-image{
    img{
      transform: rotate(180deg);
      transition: 300ms ease all;
    }
  }
  .remove-image{
    img{
      transform: rotate(0);
      transition: 300ms ease all;
    }
  }

  .add-animation{
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .panel {
    padding: 0 1.8rem;
    display: none;
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    p{
      color: #000000;
      font-family: $font-family;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 2.8rem;
      display: flex;
      align-items: center;
    }
    a{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      p{
        border-bottom: 1px dashed #005f84;
        color: #005f84;
        font-family: $font-family;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.8rem;
      }

    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
}
