$font-family: 'Open Sans', sans-serif;
.container-doc{
  background-image: url("../img/bg-doc.png");
  background-size: cover;
  background-position: center;
  .doc-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
      color: #005f84;
      font-family: $font-family;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 3.6rem;
      max-width: 53%;
      text-align: center;
    }
    p{
      color: #000000;
      font-family: $font-family;
      font-size: 2rem;
      font-weight: 400;
      max-width: 50%;
      text-align: center;
      line-height: 3.2rem;
      padding-top: 2rem;
      padding-bottom: 2.6rem;
    }
    .doc-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-bottom: 8.9rem;
      h1{
        color: #005f84;
        font-family: $font-family;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.8rem;
        width: 100%;
      }
      p{
        color: #000000;
        font-family: $font-family;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 2.8rem;
        width: 100%;
        padding: 0;
      }
    }
  }
}