@import 'mixins';
$font-family: 'Open Sans', sans-serif;
.container-factors{
  @include respond(phone) {
    display: none;
   }
   
  display: flex;
  background-image: url("../img/bg-factors.png");
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: -10%;
  position: relative;
  z-index: 1;
  .container-main-factors{
    .factors-header{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20rem;
      padding-bottom: 4.9rem;
      h1{
        color: #005c80;
        font-family: $font-family;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 3.6rem;
        text-align: center;


      }

    }
    .factors-img{
      display: flex;
      justify-content: center;
      align-items: center;
      @include respond(phone) {
       display: none;
      }
      
      img{
        max-width: 126.3rem;
        width: 100%;
        object-fit: contain;
      }
    }
    .factors-modern{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 13rem;
      h1{
        color: #006085;
        font-family: $font-family;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 3.2rem;
        text-align: center;
                
    @include respond(litte-phone) {
      text-align: left !important;
      
        }
      }
      p{
        color: #000000;
        font-family: $font-family;
        font-size: 2rem;
        font-weight: 400;
        line-height: 3.2rem;
        text-align: center;
        padding-bottom: 2.4rem;
      }
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5.1rem 0 3.1rem;
        border-radius: 4px;
        border: .2rem solid #006292;
        text-decoration: none;
        span{
          color: #006085;
          font-family: $font-family;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 5.2rem;
        }
        i{
          font-size: 1rem;
          font-weight: bold;
          color: #006085;
          padding-left: 1.2rem;
          padding-top: .5rem;
        }
      }
    }
  }
}


