@import 'mixins';
$font-family: 'Open Sans', sans-serif;
.container-fix{
  position: relative;
  z-index: 1;
  margin-top: -2%;
  .fix-text__main {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    .fix-text__cost h1{
      color: #005f84;
      font-family: $font-family;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 3.2rem;
    }

    .fix-text__offer p{
      color: #000000;
      font-size: 2rem;
      font-weight: 400;
      line-height: 3.2rem;
      font-family: $font-family;
    }
  }
  .woman-block {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url("../img/bg-fix.png");
    background-size: contain;
    background-repeat: no-repeat;

    .woman-block__girl {
      padding: 2rem 0;
      img {
        width: 5.4rem;
        height: 5.7rem;
      }
    }
    .woman-block__save h1{
      color: #004b62;
      font-size: 2rem;
      line-height: 2.8rem;

    }

    .woman-block__textfirst p{
      font-size: 2rem;
      line-height: 3.2rem;
      font-weight: 400;
    }

    .woman-block__rubles h1{
      color: #005f84;
      line-height: 2.8rem;
      font-weight: 700;

    }

  }
  .woman-block1 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url("../img/bg-fix.png");
    background-size: contain;
    background-repeat: no-repeat;

    .woman-block__girl1 {
      padding: 2rem 0;
      img {
        width: 9.3rem;
        height: 5.7rem;

      }
    }
    .woman-block__save1 h1{
      color: #004b62;
      font-size: 2rem;
      line-height: 2.8rem;

    }

    .woman-block__textfirst1 p{
      font-size: 2rem;
      line-height: 3.2rem;
      font-weight: 400;
    }

    .woman-block__rubles1 h1{
      color: #005f84;
      line-height: 2.8rem;
      font-weight: 700;

    }
  }
  .woman-block__link {
    padding-top: 3.1rem;
    padding-bottom: 50px;

    a {
      padding: 1.7rem 0 1.7rem 3.2rem;
      border-radius: .4rem;
      border: .2rem solid #006292;
      background-color: #ffffff;
      text-decoration: none;
      span{
        color: #005f84;
        font-family: $font-family;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.8rem;
      }
      i{
        color: #006292;
        padding-left: 1.6rem;
        padding-right: 2.2rem;
      }
    }
  }
}
