@import 'mixins';
$font-family: 'Open Sans', sans-serif;

.header-container{
  background-color: #eff5f6;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include respond(tab-extra) {
    display: none;
 }

  .header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.6rem;

    .header__phone{
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        color: black;
        font-family: $font-family;
        i{
          transform: rotate(45deg);
        }
      }

    }

    .header__mail {
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        color: black;
        font-family: $font-family;
        i{
          padding-right: .7rem;
        }
      }

    }

    .header__map {
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        color: black;
        font-family: $font-family;
        i{
          padding-right: .7rem;
        }
      }

    }
    .header__calendar{
      display: flex;
      justify-content: center;
      align-items: center;
      i{
        padding-right: .7rem;
      }
      p{
        margin: 0;
        font-family: $font-family;
      }
    }
    .header__license{
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        margin: 0;
        font-family: $font-family;
      }
    }
  }
}

.navbar-expand-lg .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
