@import 'mixins';

$font-family: 'Open Sans', sans-serif;
.container-main-plans{
  padding-top: 3.8rem;
  padding-bottom: 2.1rem;
  .plan-info-txt{
    p{
      font-size: 2rem;
    }
  }
  .plans-text{
    h1{
      color: #006085;
      font-family: $font-family;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 36px;
      padding-bottom: 2.1rem;
    }
    p{
      color: #000000;
      font-family: $font-family;
      font-size: 2rem;
      font-weight: 400;
      line-height: 3.2rem;
    }
  }
  .plans-link{
    border-radius: 1rem;
    background-color: #ebf6f7;
    padding: 2.3rem 3.9rem 2rem 2.2rem;
    width: 60%;
    a{
      color: #006085;
      font-family: $font-family;
      font-size: 1.7rem;
      font-weight: 700;
      line-height: 2.8rem;
      text-decoration: none;
      margin: 0;
    }
  }
  .plans-text-2{
    padding-top: 2.9rem;
    padding-bottom: 4.6rem;
    p{
      color: #000000;
      font-family: $font-family;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 2.8rem;
      span {
        color: #006085;
        font-family: $font-family;
        font-weight: 700;
      }
    }
  }
  .plan-image{
    display: flex;
    flex-direction: column;
    .plan-image-first{
      display: flex;
      position: relative;
      z-index: 9999;
      box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.15);
      border-radius: 2rem;
      background-color: #ffffff;
      width: 70%;
     
  
        @include respond(tab-land) {
         width: 100% !important;
      }
      
      padding: 3.2rem 4rem;
      .plan-info{
        padding-left: 5.7rem;
        .plan-info-txt{
          padding-top: 2.4rem;
          max-width: 24.2rem;
        }
        .plan-info-line{
          .plan-info-line-text{
            width:47%;
            display: flex;
            justify-content: space-between;
            p{
              color: #000000;
              font-family: $font-family;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 2.6rem;
            }
          }
        }
      }
    }
    .plan-image-text{
      padding-top: 4.2rem;
      padding-bottom: 3.5rem;
      p{
        color: #000000;
        font-family: $font-family;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 2.8rem;
        span{

          color: #006085;
          font-family: $font-family;
          font-weight: 700;
        }
      }
    }
  }
}
.plan-first-info{
  
  @include respond(tab-land) {
    display: flex;
     flex-direction: column-reverse;
}

}