.container-fluid
    .container.container-navigation
        .row
            .col-lg-12.answer-container
                .answer-text
                    a(href="#")
                        img(src="img/arrow-down.png")
                    h1 Ответы на частые вопросы
                .answer-section.col-12
                    button.accordion.col-lg-8.col-sm-12 Сколько яйцеклеток нужно сохранить?
                        img(class ='rotate' src='img/dropdown.png')
                    .panel.col-lg-8.col-sm-12
                        p Это одно из самых частых опасений у женщин, обращающихся в наш криобанк. На самом деле всё  не так страшно. Да, действительно, иногда гормоны приводят к синдрому гиперстимуляции яичников. Но это осложнение встречается не так часто, особенно если врачи предварительно проверили здоровье женщины, оценили риски и противопоказания, а введение гормональных препаратов осуществляется по всем правилам. Чаще всего синдром гиперстимуляции яичников протекает в легкой форме и проявляется такими симптомами, как небольшие боли в животе, вздутие, тошнота, рвота, увеличение веса более чем на 3 кг. Тяжелые формы встречаются не более чем в 1–2% случаев.
                        br
                        | Если женщине противопоказаны гормональные препараты, или она сама не хочет их применять, можно получить яйцеклетки в естественном цикле. Для того чтобы собрать нужное количество, процедуру придется повторить в нескольких циклах.
                        br
                        a(href="#")
                            p Закрыть ответ

                    button.accordion.col-lg-8.col-sm-12 Кто может принимать участие в акции?
                        img(class ='rotate' src='img/dropdown.png')
                    .panel.col-lg-8.col-sm-12
                        p Это одно из самых частых опасений у женщин, обращающихся в наш криобанк. На самом деле всё  не так страшно. Да, действительно, иногда гормоны приводят к синдрому гиперстимуляции яичников. Но это осложнение встречается не так часто, особенно если врачи предварительно проверили здоровье женщины, оценили риски и противопоказания, а введение гормональных препаратов осуществляется по всем правилам. Чаще всего синдром гиперстимуляции яичников протекает в легкой форме и проявляется такими симптомами, как небольшие боли в животе, вздутие, тошнота, рвота, увеличение веса более чем на 3 кг. Тяжелые формы встречаются не более чем в 1–2% случаев.
                        br
                        | Если женщине противопоказаны гормональные препараты, или она сама не хочет их применять, можно получить яйцеклетки в естественном цикле. Для того чтобы собрать нужное количество, процедуру придется повторить в нескольких циклах.
                        a(href="#")
                            p Закрыть ответ
                    button.accordion.col-lg-8.col-sm-12 Стимуляция овуляции гормонами — это не опасно?
                        img(class ='rotate' src='img/dropdown.png')
                    .panel.col-lg-8.col-sm-12
                        p Это одно из самых частых опасений у женщин, обращающихся в наш криобанк. На самом деле всё  не так страшно. Да, действительно, иногда гормоны приводят к синдрому гиперстимуляции яичников. Но это осложнение встречается не так часто, особенно если врачи предварительно проверили здоровье женщины, оценили риски и противопоказания, а введение гормональных препаратов осуществляется по всем правилам. Чаще всего синдром гиперстимуляции яичников протекает в легкой форме и проявляется такими симптомами, как небольшие боли в животе, вздутие, тошнота, рвота, увеличение веса более чем на 3 кг. Тяжелые формы встречаются не более чем в 1–2% случаев.
                        br
                        | Если женщине противопоказаны гормональные препараты, или она сама не хочет их применять, можно получить яйцеклетки в естественном цикле. Для того чтобы собрать нужное количество, процедуру придется повторить в нескольких циклах.
                        a(href="#")
                            p Закрыть ответ
                    button.accordion.col-lg-8.col-sm-12 Если я сохраню яйцеклетки — я потом гарантированно смогу забеременеть?
                        img(class ='rotate' src='img/dropdown.png')
                    .panel.col-lg-8.col-sm-12
                        p Это одно из самых частых опасений у женщин, обращающихся в наш криобанк. На самом деле всё  не так страшно. Да, действительно, иногда гормоны приводят к синдрому гиперстимуляции яичников. Но это осложнение встречается не так часто, особенно если врачи предварительно проверили здоровье женщины, оценили риски и противопоказания, а введение гормональных препаратов осуществляется по всем правилам. Чаще всего синдром гиперстимуляции яичников протекает в легкой форме и проявляется такими симптомами, как небольшие боли в животе, вздутие, тошнота, рвота, увеличение веса более чем на 3 кг. Тяжелые формы встречаются не более чем в 1–2% случаев.
                        br
                        | Если женщине противопоказаны гормональные препараты, или она сама не хочет их применять, можно получить яйцеклетки в естественном цикле. Для того чтобы собрать нужное количество, процедуру придется повторить в нескольких циклах.
                        a(href="#")
                            p Закрыть ответ
                    button.accordion.col-lg-8.col-sm-12 Что делать, если я никак не могу забеременеть, а яйцеклетки не сохранила?
                        img(class ='rotate' src='img/dropdown.png')
                    .panel.col-lg-8.col-sm-12
                        p Это одно из самых частых опасений у женщин, обращающихся в наш криобанк. На самом деле всё  не так страшно. Да, действительно, иногда гормоны приводят к синдрому гиперстимуляции яичников. Но это осложнение встречается не так часто, особенно если врачи предварительно проверили здоровье женщины, оценили риски и противопоказания, а введение гормональных препаратов осуществляется по всем правилам. Чаще всего синдром гиперстимуляции яичников протекает в легкой форме и проявляется такими симптомами, как небольшие боли в животе, вздутие, тошнота, рвота, увеличение веса более чем на 3 кг. Тяжелые формы встречаются не более чем в 1–2% случаев.
                        br
                        | Если женщине противопоказаны гормональные препараты, или она сама не хочет их применять, можно получить яйцеклетки в естественном цикле. Для того чтобы собрать нужное количество, процедуру придется повторить в нескольких циклах.
                        a(href="#")
                            p Закрыть ответ
                    button.accordion.col-lg-8.col-sm-12 Как я потом смогу забеременеть с помощью замороженных яйцеклеток?
                        img(class ='rotate' src='img/dropdown.png')
                    .panel.col-lg-8.col-sm-12
                        p Это одно из самых частых опасений у женщин, обращающихся в наш криобанк. На самом деле всё  не так страшно. Да, действительно, иногда гормоны приводят к синдрому гиперстимуляции яичников. Но это осложнение встречается не так часто, особенно если врачи предварительно проверили здоровье женщины, оценили риски и противопоказания, а введение гормональных препаратов осуществляется по всем правилам. Чаще всего синдром гиперстимуляции яичников протекает в легкой форме и проявляется такими симптомами, как небольшие боли в животе, вздутие, тошнота, рвота, увеличение веса более чем на 3 кг. Тяжелые формы встречаются не более чем в 1–2% случаев.
                        br
                        | Если женщине противопоказаны гормональные препараты, или она сама не хочет их применять, можно получить яйцеклетки в естественном цикле. Для того чтобы собрать нужное количество, процедуру придется повторить в нескольких циклах.
                        a(href="#")
                            p Закрыть ответ
                    button.accordion.col-lg-8.col-sm-12 Как долго может храниться яйцеклетка в криобанке?
                        img(class ='rotate' src='img/dropdown.png')
                    .panel.col-lg-8.col-sm-12
                        p Это одно из самых частых опасений у женщин, обращающихся в наш криобанк. На самом деле всё  не так страшно. Да, действительно, иногда гормоны приводят к синдрому гиперстимуляции яичников. Но это осложнение встречается не так часто, особенно если врачи предварительно проверили здоровье женщины, оценили риски и противопоказания, а введение гормональных препаратов осуществляется по всем правилам. Чаще всего синдром гиперстимуляции яичников протекает в легкой форме и проявляется такими симптомами, как небольшие боли в животе, вздутие, тошнота, рвота, увеличение веса более чем на 3 кг. Тяжелые формы встречаются не более чем в 1–2% случаев.
                        br
                        | Если женщине противопоказаны гормональные препараты, или она сама не хочет их применять, можно получить яйцеклетки в естественном цикле. Для того чтобы собрать нужное количество, процедуру придется повторить в нескольких циклах.
                        a(href="#")
                            p Закрыть ответ
