.container-fluid.container-bank
    .container
        .row
            .col-lg-12.container-main-bank
                .bank-first
                    h1 Кому в первую очередь стоит
                        br
                        | задуматься о заморозке яйцеклеток?
                    ul
                        li Вы планируете беременность после 35 лет
                        li Вы страдаете заболеванием, которое может негативно повлиять на вашу фертильность
                        li Вы проходите ЭКО и для последующих беременностей рекомендуется сохранить
                          br
                          | не только эмбрионы, но и яйцеклетки
                        li Вам предстоит лечение, из-за побочных эффектов которого в будущем вы, возможно, не сможете иметь детей
                .bank-info
                    h1 Банк половых клеток Репробанк:
                        br
                        | ваше будущее в надежных руках!
                    ul
                        li
                            img(src="img/check.png")
                            .bank-info-text
                                h1 Обеспечим сохранность самого ценного!
                                p Наше криохранилище оснащено современным оборудованием и предусмотрены все необходимые меры, чтобы обеспечить сохранность ваших яйцеклеток: хранение в парах жидкого азота, оптимальная температура хранения, возможность 3 недель автономной работы.
                        li
                            img(src="img/check.png")
                            .bank-info-text
                                h1 Всё под контролем!
                                p Женщины доверяют нам самое ценное – по сути инвестицию в свое будущее. Это большая ответственность. Поэтому у нас действует многоступенчатая система безопасности:
                                ul.inside-list
                                    li Ваши яйцеклетки хранятся в индивидуальной ячейке, которой присвоен уникальный номер в электронной базе. Каждая пробирка в ячейке промаркирована специальным цветом и вашим уникальным кодом.

                                    li Мы перевозим материал в специальных контейнерах. Каждый из них
                                      br
                                      | может обеспечить сохранность яйцеклеток в течение 12 суток, находится
                                      br
                                      | в специальном защитном кожухе и защищен пломбой.
                        li
                            img(src="img/check.png")
                            .bank-info-text
                                h1 Не важно, в какой клинике и у какого врача
                                    br
                                    | вы решите забеременеть
                                p Мы не привязаны ни к одной клинике ЭКО, а это дает вам преимущества: самые низкие цены в РФ, своя служба транспортировки, доставка в любой центр ЭКО.
                    a(href="#")
                        span Получить консультацию специалиста
                        i.fas.fa-chevron-right
                .bank-save
                    .bank-save-header
                        h1 Как сохранить яйцеклетки:
                           br
                           | Всего 5 шагов!
                    .bank-save-content
                        img(src="img/child-center.png")

