.container-fluid.container-doc
    .container
        .row
            .col-lg-12
                .doc-main
                    h1 Заморозка яйцеклеток — это ваше биострахование, пожалуй, самая ценная инвестиция в вашей жизни.
                    p Мы понимаем, насколько это для вас важно, поэтому создали все условия для надежного и безопасного хранения ваших половых клеток, чтобы в будущем вы смогли успешно забеременеть и родить здорового малыша.
                    .doc-info
                        img(src="img/doc-pic.png")
                        h1 Деревянко Анастасия Юрьевна
                        p старший врач Репробанка