.container-fluid.container-factors
    .container
        .row
            .col-lg-12.container-main-factors
                .factors-header
                    h1 Какие факторы снижают
                      br
                      | шансы на наступление беременности?
                .factors-img
                    img(src="img/center-img.png")
                .factors-modern
                    h1 Современная репродуктивная медицина
                        br
                        | предлагает эффективные решения.

                    p Каждая женщина может заранее сохранить свои яйцеклетки
                      br
                      | в замороженном состоянии в специализированном криобанке.
                      br
                      | Один из крупнейших в России – Репробанк.

                    a(href="#")
                        span Получить консультацию специалиста
                        i.fas.fa-chevron-right