.container-fluid.container-fix
    .container
        .row
            .col-lg-12.container-fix
                .fix-text__main
                    .fix-text__cost
                        h1
                            | Фиксированная стоимость услуг.
                            br
                            | Без переплат.
                    .fix-text__offer
                        p
                            | Репробанк предлагает услугу заморозки яйцеклеток по самым
                            br
                            |  выгодном в России ценам. Сравните наши расценки с прайсами
                            br
                            |  большинства клиник ЭКО и вы убедитесь в этом сами.
                            br
                            | Возможны два варианта:

        .row
            .col-lg-5
                .woman-block
                     .woman-block__girl
                         img(src='img/women-logo.png')

                     .woman-block__save
                         h1 Сохранить только для себя

                     .woman-block__textfirst
                         p
                             | Все ваши яйцеклетки находятся в вашем
                             br
                             |  персональном хранилище, использовать
                             br
                             |  их можете только вы.

                     .woman-block__textsecond
                         p
                             | В стоимость услуги включено: медицинское
                             br
                             |  обследование, стоимость препаратов для
                             br
                             |  гормональной стимуляции, забор яйцеклеток,
                             br
                             |  заморозка их и закладка на хранение.

                     .woman-block__rubles
                             h1  180 000 P

                     .woman-block__link
                             a(href="#")
                                    span Подробнее
                                    i.fas.fa-chevron-right

            .col-lg-2

            .col-lg-5
                .woman-block1

                    .woman-block__girl1
                        img(src='img/family-logo.png')


                    .woman-block__save1
                        h1
                            | Сохранить для себя
                            br
                            | и помочь другим парам

                    .woman-block__textfirst1
                        p   Бесплатная заморозка яйцеклеток

                    .woman-block__textsecond1
                        p
                            | Часть ваших яйцеклеток может быть
                            br
                            |  использована в качестве донорских.
                            br
                            |  Помогите женщинам, которые не могут
                            br
                            |  иметь детей, а мы совершенно бесплатно
                            br
                            |  поможем вам.


                    .woman-block__rubles1
                        h1  180 000 P


                    .woman-block__link
                        a(href="#")
                            span Подробнее
                            i.fas.fa-chevron-right






