.container-fluid.container-footer
    .container
        .row
            .col-lg-12.containerfirst
                .row
                .footer-last
                            .col-lg-3.footer-contact-info
                                img(src='img/reprobank.png')

                                .footer-last_numb
                                    a(href='tel:+78142332211') +7(814)-233-22-11

                                .footer-last_adress
                                    p   117292,г Москва, ул. Ивана Бабушкина, д.9 (м.Академическая)

                                .footer-last_date
                                    p 2013-2015 © ООО «ЦГРМ ИСКЧ» Все права защищены

                            .col-lg-3

                                .footer-last__arrow1
                                    a(href="#")
                                        i.fas.fa-chevron-right
                                        span Сохранить сперму
                                .footer-last__arrow2
                                    a(href="#")
                                        i.fas.fa-chevron-right
                                        span Сохранить яицеклетки,эмбрионы
                                .footer-last__arrow3
                                    a(href="#")
                                        i.fas.fa-chevron-right
                                        span Выбрать донора
                                .footer-last__arrow4
                                    a(href="#")
                                        i.fas.fa-chevron-right
                                        span Стать донором

                                .footer-last__arrow5

                                    a(href="#")
                                        i.fas.fa-chevron-right
                                        span Отзывы

                            .col-lg-3
                                .footer-last__arrow1
                                    a(href="#")
                                        i.fas.fa-chevron-right
                                        span Контактная информация

                                .footer-last__arrow2
                                    a(href="#")
                                        i.fas.fa-chevron-right
                                        span Новости и статьи

                                .footer-last__arrow3
                                    a(href="#")
                                        i.fas.fa-chevron-right
                                        span Фотогалерея
                                .footer-last__icons
                                    a(href='#')
                                        i.fab.fa-facebook-square
                                    a(href='#')
                                        i.fab.fa-vk
                                    a(href='#')
                                        i.fab.fa-instagram
                            .col-lg-3
                                .footer-last__tree
                                    img(src='img/tree.png')
                                    .arrow-top-link
                                        a(href="#top")
                                            img(src='img/arrowtop.png')
