.container-fluid.container-freeze
    .container
        .row
            .col-lg-12.container-main
                .freeze-main
                    .main-link
                        a(href="#")
                            span Главная
                            i.fas.fa-chevron-right
                    .main-text
                        h1 Заморозка и сохранение яйцеклеток.
                        p Для женщин, которые хотят сохранить самое ценное и забеременеть.
                            br
                            | Доверьтесь профессионалам!
                    .freeze-info
                        .hands
                            img(src="img/hands.png")
                            .text-block-img
                                h1 50 000 образцов
                                p пациенты доверили
                                    br
                                    | на хранение нашему
                                    br
                                    | криобанку
                        .star
                            img(src="img/star.png")
                            .text-block-img
                                h1 Более 6 лет
                                p мы дарим женщинам
                                    br
                                    | радость материнства
                    .freeze-list
                        ul
                            li
                                p Репробанк — самый крупный банк половых клеток в России.
                            li
                                p Надежное хранение в криобанке, оснащенном современным оборудованием.
                            li
                                p Доставим ваши яйцеклетки в целости и сохранности в любую клинику ЭКО.
                            li
                                p Самые низкие цены на заморозку и хранение яйцеклеток в России.
                                    br
                                    | Есть бесплатный вариант.
                    .freeze-consultation
                        a(href="#")
                            span Получить консультацию специалиста
                            i.fas.fa-chevron-right

                .freeze-baby
