.container-fluid
    .container
        .row
            .col-lg-12
               .header-logo
               
                    .header-logo__logo
                        img(src='img/logo.png')

                    .header-logo__number
                        a(href='tel:+74991165385') +7 (499) 116-53-85

                    .header-logo__pay
                        a(href="#")
                            span Оплатить
                            i.fas.fa-chevron-right
