//- .container-fluid
//-     .container.container-navigation
//-         .row
//-             .col-lg-12
//-                 .navigation
//-                     ul
//-                         li
//-                             a(href="#") Персональный банк
//-                         li
//-                             a(href="#") Донорский банк
//-                         li
//-                             a(href="#") Каталог доноров
//-                         li
//-                             a(href="#") Транспортировка
//-                         li
//-                             a(href="#") О репробанке
//-                         li
//-                             a(href="#") Новости и Акции
//-                         li
//-                             a(href="#") Контакты

<nav class="navbar navbar-expand-lg navbar-light ">
  a(class="navbar-brand" href="#")
    .header-logo1
      .header-logo__logo
        img(src='img/logo.png')
                        

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> 
         
</span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Персональный банк <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Донорский банк</a>
      <a class="nav-item nav-link" href="#">Каталог доноров</a>
      <a class="nav-item nav-link" href="#">О репробанке</a>
      <a class="nav-item nav-link" href="#">Новости и Акции</a>
      <a class="nav-item nav-link" href="#">Контакты</a>
     
    </div>
  </div>
</nav>