.container-fluid.container-plans
    .container
        .row
            .col-lg-12.container-main-plans
                .plans-text
                    h1 Если вы планируете беременность после 35…
                    p
                        | Беременность после 35 лет — нормальное явление среди современных женщин. Многие
                        br
                        |  откладывают рождение ребенка, потому что хотят сначала «пожить для себя», сделать карьеру,
                        br
                        |  чего-то добиться в жизни. Это разумно.
                .plans-link
                    a(href="#") Но с возрастом шансы забеременеть снижаются. Они наиболее высоки в 20 лет.

                .plans-text-2
                    p
                        | У 35-летней женщины вероятность наступления беременности во время одного цикла составляет лишь &nbsp;
                        span 20%
                        |.
                        br
                        |  Это означает, что 80% женщинам придется повторить попытку в следующем цикле. И она не обязательно
                        br
                        |  окажется успешной. &nbsp;
                        span К 40 годам шансы снижаются до 5%.
                        | В первую очередь это связано со снижением
                        br
                        |  овариального резерва — в яичниках остается все меньше яйцеклеток, готовых к овуляции и
                        br
                        |  оплодотворению.
                .plan-image
                    .plan-first-info
                        .plan-image-first
                         img(src="img/range-1.png")
                        .plan-info
                        .plan-info-img
                            img(src="img/semen.png")
                            .plan-info-txt
                                p Шансы забеременеть в одном цикле в зависимости от возраста женщины
                            .plan-info-line
                                img(src="img/line-1.png")
                                .plan-info-line-text
                                    p >25%
                                    p <5%
                    .plan-image-text
                        p И это не единственная проблема. После 35 лет повышается &nbsp;
                            span вероятность рождения ребенка с синдромом &nbsp;
                            br
                            span  Дауна &nbsp;
                            | и другими генетическими нарушениями, а также &nbsp;
                            span растет риск самопроизвольного прерывания &nbsp;
                            br
                            span беременности &nbsp;
                            | – с 11,4% в возрасте 33–34 года до 36,6% после 42 лет. Это также может происходить из-за
                            br
                            | хромосомных нарушений у плода.
                .plan-image
                .plan-first-info
                    .plan-image-first
                        img(src="img/range-2.png")
                    .plan-info
                            .plan-info-img
                                img(src="img/child.png")
                            .plan-info-txt
                                p Вероятность рождения ребенка с синдромом Дауна в зависимости от возраста женщины
                            .plan-info-line
                                img(src="img/line-2.png")
                                .plan-info-line-text
                                    p <0.5%
                                    p >3.5%









